.menuPage2 {
  z-index: 998;
  display: block;
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 1.2rem;
}

.page2MenuButton {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 8pt;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
}

.page2MenuButton:hover {
  color: red;
  cursor: pointer;
}

.galleryPages {
  display: block;
  width: 100%;
  height: auto;
}

.galleryPageBp,
.galleryPageBirds,
.galleryPageNatural {
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .menuPage2 {
    font-size: 1rem;
  }
}
