* {
  margin: 0;
  padding: 0;
}

.mainCover {
  width: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  position: relative;
  opacity: 0.85;
  font-family: 'Oswald';
  overflow-x: hidden;
}

.page {
  position: relative;
  min-height: 85vh;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-   background-size: cover;
  -o-     background-size: cover;
          background-size: cover; 
}

.page::after {content: ''}

.page1 {
  background-image: url("bg-image-1.gif");
  min-height: 100vh; 
}

.page2 {
  background-image: url("bg-image-2.gif");
}

.page3 {
  background-image: url("bg-image-3.gif");
}

.page4 {
  background-image: url("bg-image-4.gif");
}

.coverContainer {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.cover {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 40vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.cover h1 {
  margin: auto;
  line-height: 140%;
  letter-spacing: 4px;
}


.name {
  color: #d2ba87;
  font-size: 80px;
}

.title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
}

.menu {
  z-index: 999;
  position: fixed;
  width: 80pt;
  height: 14.8vh;
  font-size: 1.48rem;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(200, 200, 200, 0.4);
  border: 2px solid rgba(0, 0, 0, 1);
  color: #000;
}

.menuHome {
  position: fixed;
  width: 80pt;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.4);
  border: 2px solid rgba(0, 0, 0, 1);
}

.menuButton:hover {
  color: red;
  cursor: pointer;
}

.title:before,
.title::after {
  display: inline-block;
  height: 1px;
  width: 80px;
  content: "";
  margin: 0, 20px;
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
}

.separator {
  display: block;
  width: 100%;
  min-height: 15vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 35pt;
  color: #d2ba87;
  background-image: url(separator-background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-   background-size: cover;
  -o-     background-size: cover;
          background-size: cover;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 1);
}

.separator1,
.separator2,
.separator3,
.footerText {
  display: inline-block;
  position: relative;
  width: auto%;
}

.profilPicture img{
  border-radius: 50%;
  width: 150px;

  transition: width 0.5s ease-in-out;
}

.profilPicture img:hover{
  width: 400px;
}

.photographer,
.footerText p {
  font-size: 18px;
  text-align: justify;
  text-transform: none;
  padding: 0 2.5rem;
  padding-bottom: 50px;
}

.footerBox {
  display: block;
  position: absolute;
  width: 100%;
  min-height: 20vh;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid rgba(0, 0, 0, 01);
  text-align: center;
}

.footerText {
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.footerElem {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.email {
  color: #000;
  vertical-align: top;
  padding-top: 1rem;
}

.email a {
  text-decoration: none;
  color: #000;
}

.endOfPage {
  display: block;
  position: absolute;
  bottom: 5px;
  width:99%;
  color: #333;
  font-size: 0.8rem;
  text-align: center;

}

.oz a {
  text-decoration: none;
  font-size: 0.9rem;
  background-color: darkgreen;
  color: white;
  padding: 0 7px;
  padding-bottom: 3px;
  border: 2px solid white;
  border-radius: 50%;
}
/******* Mobile responzivity *******/
@media (max-width: 768px) {
  .cover h1 {
    line-height: 120%;
    letter-spacing: 3px;
  }

  .name {
    font-size: 50px;
  }

  .title {
    font-size: 30px;
  }
  
  .menu {
    display: block;
    position: fixed;
    width: 100vw;
    height: auto;
    text-align: center; 
    font-size: 1.2rem;
    background-color: rgba(200, 200, 200, 1);
  }
  
  .menuButton {
    display: inline-block;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  
  .menuHome {
    position: fixed;
    width: auto;
    height: auto;
    background-color: rgba(200, 200, 200, 1);
  }
  
  .separator {
    min-height: auto;
    font-size: 2rem;
  }
  
  .profilPicture img:hover{
  width: 250px;
  }
}

