* {
  margin: 0;
  padding: 0;
}


.mainCover {
  width: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  position: relative;
  opacity: 0.8;
  font-family: 'Oswald';
}

.page1 {
  position: relative;
  background-attachment: fixed;
  background-image: url("bg-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; 
  opacity: 1;
}

.page2 {
  position: relative;
  background-attachment: fixed;
  background-image: url("bg-image-2.jpg");
  background-position: center;
  background-size: cover;
  min-height: 85vh
}

.page3 {
  position: relative;
  background-attachment: fixed;
  background-image: url("bg-image-3.jpg");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
}

.page4 {
  position: relative;
  background-attachment: fixed;
  background-image: url("bg-image-4.jpg");
  background-position: center;
  background-size: cover;
  min-height: 85vh;
}

.cover {
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  margin: auto;
  top: 35vh;
  text-align: center;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu {
  z-index: 999;
  position: fixed;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  color: #000;
}

.home {
  bottom: 20px;
  padding: 5px 10px;
}

.menuButton:hover {
  color: red;
  cursor: pointer;
}

.name {
  color: #d2ba87;
  font-size: 80px;
}

.title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
}

.title:before,
.title::after {
  display: inline-block;
  height: 1px;
  width: 80px;
  content: "";
  margin: 0, 20px;
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
}

.cover h1 {
  margin: auto;
  line-height: 140%;
  letter-spacing: 4px;
}

.separator {
  display: block;
  width: 100%;
  min-height: 15vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(10, 10, 10, 0.8);
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.profilPicture img{
  border-radius: 50%;
  width: 150px;
  margin-left: 30px;
  transition: width 0.5s ease-in-out;
}

.profilPicture img:hover{
  width: 400px;
}

.photographer {
  font-size: 20px;
  text-align: justify;
  text-transform: none;
  padding: 0 7rem;
  padding-bottom: 50px;
}

.footerBox {
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.footerText {
  color: rgba(0, 0, 0, 1);
  text-align: justify;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0 7rem;
}


@media (max-width: 888px) {
  
  .menu {
    font-size: 0.38rem;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
  }
  
  .home {
   bottom: 10px;
  }
  
  .name {
    font-size: 42px;
  } 
  
  .title {
    font-size: 30px;
  }
  
  .title:before,
  .title::after {
    width: 40px;
  }
  
  .separator {
    font-size: 35px;
  }
  
  .photographer,
  .footerText {
    font-size: 10px;
    padding: 0 3.2rem;
    padding-bottom: 1rem;
  }
  
  .footerBox {
    height: auto;
  }
}
